body {
	margin: 0;
	padding: 0;
}

main {
	height: calc(100vh - 130px);
}

.container {
	max-width: 1000px;
	margin: 30px auto;
}

/* Eliminate padding and margin */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

